@model IEnumerable<BookReview.Models.Book>
    <div class="container">
        <div class="row">
           

                @foreach (var item in Model)
                {

                  <div class="card" style="width: 18rem; margin: 1rem 1rem;">
                   <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">   @Html.DisplayFor(modelItem => item.Author.FullName)  </h6>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Description) </p>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="card-link">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="card-link">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="card-link">Delete</a>
                   </div>
                  </div>
                }
        </div>
    </div>





