@model BookReview.ViewModels.StatisticsViewModel

    @{
        ViewData["Title"] = "Index";
        decimal reviewRound;
    }

    <h1>Statistics (Godkänd av StalkerSteffe)</h1>


    <table class="table table_statitics">
        <thead>
            <tr>
                <th>
                    Author
                </th>
                <th>
                    Average Rating
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.Author)
            {
                <tr>
                    <td>
                        @a.FullName
                    </td>
                    <td>
                        @if(a.Books.Any(x => x.Reviews.Any()))
                        {
                            reviewRound = @a.Books.Where(x => x.Reviews.Any()).Average(c => c.Reviews.Average(z => z.ReviewScore));
                            Math.Round(reviewRound, 2);
                            <span>@reviewRound</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <table class="table table_statitics">
        <thead>
            <tr>
                <th>Title</th>
                <th>Number of reviews</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.Book)
            {
                <tr>
                    <td>
                        @a.Title
                    </td>
                    <td>
                        @a.Reviews.Count
                    </td>
                </tr>
            }
        </tbody>
    </table>
