@model BookReview.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title:
        </dt>
        <dd class="col-sm-10">
            @Model.Book.Title
        </dd>
        <dt class="col-sm-2">
            ISBN:
        </dt>
        <dd class="col-sm-10">
            @Model.Book.ISBN
        </dd>
        <dt class="col-sm-2">
            Author:
        </dt>
        <dd class="col-sm-10">
            @Model.Author.FullName
        </dd>
        <dt class="col-sm-2">
            Review:
        </dt>
    </dl>
    <ul>
        @foreach (var review in Model.Reviews)
        {
            <li class="col-sm-10">
                @review.Description
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Book.Id">Edit</a> |
    <a asp-controller="Reviews"  asp-action="Create" asp-route-id="@Model.Book.Id">Add Review</a> |
    <a asp-action="Index">Back to List</a>
</div>
